.banner {
  background-image: url("technology.webp");
  width: 90%;
  height: 500px;
  margin: auto;
  position: relative;
}
.bannerParagraph {
  position: relative;
  top: 30px;
  left: 30px;
  width: 25%;
  height: 45%;
  overflow: auto;
  font-size: 13px;
  background-color: rgb(43, 98, 200);
  color: white;
}

.bannerParagraph p {
  margin: 3%;
}

.bannerParagraph p:first-child {
  padding-bottom: 2%;
  border-bottom: 2px dashed white;
}

.title {
  position: absolute;
  top: 85%;
  left: 50%;
  background-color: rgb(43, 98, 200);
  color: white;
  width: 40%;
  height: 20%;
  text-align: center;
}

.firstArticle {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  padding-top: 50px;
  border-bottom: 2px dashed black;
}
.firstArticle img {
  width: 240px;
  height: 90px;
  padding: 5px;
  border: 1px solid blue;
  align-self: center;
}
.firstArtSections {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
}

.firstArtSections a {
  text-decoration: none;
  align-self: flex-end;
  color: blue;
  margin: 10px;
}

.firstArtSections p {
  margin: 20px;
}

.firstArtSections p:first-child {
  padding-bottom: 20px;
  width: 90%;
  border-bottom: 1px dashed black;
  text-align: center;
}

.firstArtSectionWrapper {
  margin: 30px;
}
