.navigation {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  margin: auto;
}

.navigation a {
  text-align: center;
  text-decoration: none;
  font-size: 110%;
  background-color: rgb(43, 98, 200);
  padding: 2%;
  width: 15%;
}
.navigation a:hover {
  transform: scale(1.1);
}

.navigation a:visited {
  color: white;
}
.underNav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 1%;
}
.underNavTitle {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 33%;
}
.underNavTitle h2 {
  border-right: 2px solid black;
  padding-right: 2%;
}
.underNavTitle p {
  margin-left: 2%;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contactInfo p {
  margin: 0%;
}
